body{
    background-color: #3e4544;
}

.calculadora{
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 8px 10px 20px rgba(0,0,0,0.3);
    display: inline-block;
    padding-top: 25px;
}

button{
    width: 80px;
    height: 80px;
    font-size: 1.5em;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    transition: 0.4s;
    color: rgb(56, 245, 159);
    background-color: #454c4b;
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace;
}

button:hover{
    background-color: #313030;
    color: rgb(56, 245, 159);
}

button:active{
    transform: scale(0.95);
}

#visor{
    width: 100%;
    font-size: 2.9em;
    display: inline-block;
    transform: scaleY(1.3);
    margin: auto;
    text-align: right;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 15px;
    box-sizing: border-box;
    letter-spacing: 2px;
    margin-bottom: 10px;
    border-color: 0;
    border: none;
    outline: none;
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace;
    background-color: transparent;
    color: #ffffff;
}

table {
    border-spacing: 8px; 
    border-collapse: separate; 
    margin: auto; 
    margin-bottom: 0;
}

td {
    padding: 0; 
    width: 45px;
    text-align: center;
}

.botaoOperacao{
    background-color:  rgb(56, 245, 159);
    color: black;
    font-weight: bold;
}

#teste{
    background-color:  rgb(170, 170, 170);
    color: rgb(0, 0, 0);
}

#teste:hover{
    background-color: #313030;
    color: rgb(56, 245, 159);
}
.botaoOperacao:hover{
    background-color: #313030;
    color: rgb(56, 245, 159);
}