body{
    background-color: #81b5ab;
}

.calculadora{
    background-color: #378b7d;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
    display: inline-block;
    padding-top: 25px;
}

button{
    width: 60px;
    height: 60px;
    font-size: 1.4em;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    transition: 0.4s;
    color: rgb(56, 245, 159);
    background-color: #313030;
    font-weight: bold;
}

button:hover{
    background-color: rgb(56, 245, 159);
    color: rgb(48, 48, 48);
}

button:active{
    transform: scale(0.95);
}

#visor{
    width: 100%;
    font-size: 1.3em;
    margin: auto;
    text-align: right;
    padding: 10px;
    border-radius: 15px;
    box-sizing: border-box;
    letter-spacing: 2px;
    margin-bottom: 10px;
    border-color: 0;
    border: none;
    outline: none;
    font-weight: bold;
}

table {
    border-spacing: 8px; 
    border-collapse: separate; 
    margin: auto; 
}

td {
    padding: 0; 
    width: 45px;
    text-align: center;
}

.botaoOperacao{
    background-color:  rgb(56, 245, 159);
    color: black;
    font-weight: bold;
}

.botaoOperacao:hover{
    background-color: #313030;
    color: rgb(56, 245, 159);
}